{% extends "layout.html" %}

{% block title %}
My Portfolio
{% endblock %}

{% block main %}
<div class="section">
    <h2>My Portfolio</h2>
    {% if invested["SUM(value)"] == None %}
        <h2>Start Investing Now By Clicking On The Buy Page!</h2>
    {% else %}
    <table class="table table-dark table-hover table-striped">
        <thead class="table-dark">
            <tr>
                <th scope="col">SYMBOL</th>
                <th scope="col">NAME</th>
                <th scope="col">SHARE PRICE</th>
                <th scope="col">SHARES</th>
                <th scope="col">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in port %}
            <tr>
                <td>{{stock["symbol"]}}</td>
                <td>{{stock["name"]}}</td>
                <td>{{(stock["value"]/stock["shares"]) | usd}}</td>
                <td>{{stock["shares"]}}</td>
                <td>{{stock["value"] | usd}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <h4>Cash Available: {{cash["cash"] | usd}}</h2>
    {% if invested["SUM(value)"] == None %}
        <h4>Total Invested: $0.00</h2>
    {% else %}
        <h4>Total Invested: {{invested["SUM(value)"] | usd}}</h2>
    {% endif %}
</div>
{% endblock %}
